<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./stylez.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Spectral+SC" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="./favicon.ico"/>
    <title>Moviez</title>
</head>

<body ng-app="reviewApp" ng-cloak>
    <div class="fade"></div>
    <section class="container" ng-controller="reviewController as ctrl">
        <div id="imageDiv">
            <img id="image" ng-src="{{ctrl.movie.image}}" ng-click="ctrl.changeMovie()">
            <img id="favicon" class="hidden" src=./DeathStar.ico">
            <div id="starDiv">
                <span ng-repeat="i in [1,2,3,4,5]"id="1" class="star" ng-class="{filled: ctrl.rating >= i}" ng-click="ctrl.changeRating(i)" ng-mouseenter="ctrl.changeStarRating(i)" ng-mouseleave="ctrl.changeStarRating(0)">&#9733;</span>
            </div>
        </div>
        <section class="starwars">
            <div id="textDiv" class="crawl">
                <div id="titleDiv">
                    <img id="title" ng-src="{{ctrl.movie.logo}}">
                </div>
                <h1>{{ctrl.movie.title}}</h1>
                <p id="text">{{ctrl.movie.text}}</p>
                <ul id="list">
                    <li ng-repeat="actor in ctrl.movie.actors">{{actor}}</li>
                </ul>
            </div>
        </section>
    </section>
    <script src="./bundle.js"></script>
</body>

</html>